html, body {
  height: 100%;
}

.bigtext {
    font-size: 17px;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -120px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.footer {
    height: 50px;
    padding: 15px;
    margin-top: 70px;
    background-color: #ddd;
}

.content {
    padding-top: 60px;
}

.big {
    font-size: 80px;
}

.credit {
    margin: 0px;
}

th {
    text-align: center;
}
