{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <h1>Please log in</h1>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'accounts_login' %}">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}
