{% extends 'base.html' %}
{% load status_tags %}

{% block content %}
<div class="text-center bigtext">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1>WIFI status overview</h1>
        </div>
    </div>
{% if ctrl.error %}
    <h3>{{ ctrl.error }}</h3>
    <p>{{ ctrl.error_detail }}
{% else %}
    <hr>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 id="shutdown-hint" style="padding:10px"><span class="label label-danger" style="font-size:46px">Please use SC13 wifi and shutdown your hotspot.</span></h1>
            <h1>Thank you!</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-5 text-center">
            {% with ctrl.entity.wlanControllersDTO as ctrl %}
                <h1>Wifi-Controller</h1>
                <div class="text-right">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Controller status:</td>
                                <td><strong class="label label-{{ ctrl.reachabilityStatus|status_bootstrap }}">{{ ctrl.reachabilityStatus|yesno:'online,offline' }}</strong></td>
                            </tr>
                            <tr>
                                <td>Number of connected APs:</td>
                                <td><strong class="label label-success">{{ ctrl.apCount }}</strong></td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td><strong class="label label-success">Running smoothly</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endwith %}
        </div>
        <div class="col-lg-6 col-lg-offset-1 text-center well">
            <h1>Current wifi client count</h1>
            <h1><span class="big"><strong>{{ clients.count }}</strong></span></h1>
            <h4>Max count in last 24 hours: <strong>{{ clients.max_count_24.count }}</strong> <small>({{ clients.max_count_24.created }})</small></h4>
            <h4>Max count overall: <strong>{{ clients.max_count_overall.count }}</strong> <small>({{ clients.max_count_overall.created }})</small></h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8 text-center">
            <h1>Top 5 APs with the highest client count</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Client count</th>
                        <th>2.4 GHz</th>
                        <th>5 GHz</th>
                    </tr>
                </thead>
                <tbody>
            {% for hcc in ap.highest_client_count_aps %}
                    <tr>
                        <td>{{ hcc.name }}</td>
                        <td>{{ hcc.location }}</td>
                        <td>{{ hcc.clientCount }}</td>
                        <td>{{ hcc.clientCount_2_4GHz }}</td>
                        <td>{{ hcc.clientCount_5GHz }}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 text-center well">
            <div style="padding:10px"><span class="big label label-{{ ap.rogues_count|yesno:'danger,success' }}">{{ ap.rogues_count }}</span></div>
            <h1>Rogue AP{{ ap.rogues_count|pluralize }} detected</h1>
            Please use SC13 wifi and shutdown your own wifi.<br>
            Thank you!
        </div>
    </div>
{% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function toggle() {
            $('#shutdown-hint').fadeToggle('slow');
            setTimeout(toggle, 1);
        }
        $(function (){
            toggle();
        });
    </script>
{% endblock %}
