{% extends 'base.html' %}
{% load status_tags %}

{% block content %}
<div class="text-center">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center well">
            <h1><span class="label label-{{ rogues_count|yesno:'danger,success' }}">{{ rogues_count }}</span> Rogue AP{{ rogues_count|pluralize }} detected</h1>
            Please use SC13 wifi and shutdown your own wifi.<br>
            Thank you!
        </div>
    </div>
    {% if request.GET.simpleview %}
        {% for ap in rogues %}
            {% if ap.ssid %}
                <span style="margin:20px;font-size:20px;line-height:40px" class="label label-danger">{{ ap.ssid }}{% if counts|keyvalue:ap.ssid > 1 %} <span style="font-size:10px;color:black">{{ counts|keyvalue:ap.ssid }} APs</span>{% endif %}</span>
            {% endif %}
        {% endfor %}
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>SSID <a href="?sort=ssid"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                    <th>MAC <a href="?sort=mac"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                    <th>Channel</th>
                    <th>Latest detecting SC13 AP <a href="?sort=detecting_ap"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                    <th>Radio type</th>
                    <th>RSSI <a href="?sort=rssi"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                    {% if request.user.is_authenticated %}
                        <th>#TrackedRogues</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% with request.GET.sort|default:'detecting_ap' as sortby %}
        {% for ap in rogues|dictsort:sortby %}
                <tr>
                    <td><a href="{% url 'rogue_detail' correlated=ap.id %}">{{ ap.ssid|default:"hidden" }}</td>
                    <td>{{ ap.mac }}</td>
                    <td>{{ ap.channel|default:'?' }}</td>
                    <td>{{ ap.detecting_ap }}</td>
                    <td>{{ ap.radio_type }}</td>
                    <td>{{ ap.rssi }}</td>
                    {% if request.user.is_authenticated %}
                        <td><a href="{% url 'rogue_detail' correlated=ap.id %}"><span class="label label-{{ ap.tracked_rogue_count|yesno:'danger,success' }}">{{ ap.tracked_rogue_count }}</span></a></td>
                    {% endif %}
                </tr>
        {% endfor %}
            {% endwith %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
