{% extends 'base.html' %}
{% load status_tags %}

{% block content %}
<div class="text-center">
    <h3>Events for "{{ rogue.ssid }}" ({{ rogue.mac }})</h3>
    {% if request.user.is_authenticated %}
        {% if rogue.trackedrogue_set.all %}
            <h3>Tracking info</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Booth</th>
                        <th>Exhibitor</th>
                        <th>Additional Info</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tr in rogue.trackedrogue_set.all %}
                        <tr>
                            <td>{{ tr.last_update }}</td>
                            <td>{{ tr.booth_number }}</td>
                            <td>{{ tr.exhibitor_name }}</td>
                            <td>{{ tr.additional_info }}</td>
                            <td><a href="{% url 'admin:main_trackedrogue_change' tr.pk %}">Show info</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pull-right">
                <a href="{% url 'found_rogue' pk=rogue.pk %}" style="padding:5px" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Enter another visit</a>
            </div>
            <hr>
        {% else %}
            <div>
                <a href="{% url 'found_rogue' pk=rogue.pk %}" class="btn btn-lg btn-success">Found it!</a>
            </div>
        {% endif %}
    {% endif %}
    <h3>Detecting APs</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Time <a href="?sort=time"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                <th>SSID</th>
                <th>Channel</th>
                <th>Detecting SC13 AP <a href="?sort=detecting_ap"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                <th>Radio type</th>
                <th>RSSI <a href="?sort=rssi"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
            </tr>
        </thead>
        <tbody>
        {% with request.GET.sort|default:'rssi' as sortby %}
    {% for ap in events|dictsort:sortby %}
            <tr>
                <td>{{ ap.time }}</td>
                <td>{{ ap.ssid }}</td>
                <td>{{ ap.channel|default:'?' }}</td>
                <td>{{ ap.detecting_ap }}</td>
                <td>{{ ap.radio_type }}</td>
                <td>{{ ap.rssi }}</td>
            </tr>
    {% endfor %}
        {% endwith %}
        </tbody>
    </table>
</div>
{% endblock %}
